<div data-ng-controller="personneDetailController as vm">
{{vm.personne}}
	<h2 ng-click="vm.expand()" >{{vm.personne.nom}} {{vm.personne.prenom}}</h2>
	<h3 ng-click="vm.showDetail('telephones')">Téléphones</h3>
	<ul ng-show="vm.detail.telephones">
		<li ng-repeat="telephone in vm.personne.telephones">
			<label>Type:</label>{{telephone.libelle}}<br>
			<label>Numéro:</label>{{telephone.numero}}
		</li>
	</ul>
	<h3 ng-click="vm.showDetail('adresses')">Adresses</h3>
	<ul ng-show="vm.detail.adresses">
		<li ng-repeat="adresse in vm.personne.personnesAdresses">
			<label>Arrivée:</label> {{adresse.debut | date:'dd MMM y' }}<br>
			<div ng-if="adresse.fin">
				<label>Départ:</label>{{adresse.fin | date:'dd MMM y'}}<br>
			</div>
			<div ng-if="adresse.fin === null"><label>Adresse actuelle</label><br></div>
			<label>libelle:</label>{{adresse.adresse.libelle}}<br>
			<label>Ville:</label>{{adresse.adresse.ville.nom}}
			<label>Code postal:</label>{{adresse.adresse.ville.codePostal}}

		</li>
	</ul>
	<button ng-click="vm.back()">Retour</button>
	</div>
